In [12]:
import pandas as pd

data = pd.read_csv('2016_Building_Energy_Benchmarking.csv')
data.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3946027.0,12764.52930,1276453.0,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3242851.0,51450.81641,5145082.0,False,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,1.451544e+07,49526664.0,14938.00000,1493800.0,False,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,...,8.115253e+05,2768924.0,18112.13086,1811213.0,False,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,1.573449e+06,5368607.0,88039.98438,8803998.0,False,NaN,Compliant,NaN,505.01,2.88

In [13]:
#variables cohÃ©rentes
cols = ['OSEBuildingID', 'DataYear', 'BuildingType', 'PrimaryPropertyType',
       'PropertyName', 'City', 'State',
       'YearBuilt', 'ListOfAllPropertyUseTypes',
       'LargestPropertyUseType', 'ENERGYSTARScore', 'SiteEUI(kBtu/sf)',
       'SiteEUIWN(kBtu/sf)', 'SourceEUI(kBtu/sf)', 'SourceEUIWN(kBtu/sf)',
       'SiteEnergyUse(kBtu)', 'SiteEnergyUseWN(kBtu)', 'SteamUse(kBtu)',
       'Electricity(kWh)', 'Electricity(kBtu)', 'NaturalGas(therms)',
       'NaturalGas(kBtu)','TotalGHGEmissions', 'GHGEmissionsIntensity']
data = data[cols]
data

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,City,State,YearBuilt,ListOfAllPropertyUseTypes,LargestPropertyUseType,...,SourceEUIWN(kBtu/sf),SiteEnergyUse(kBtu),SiteEnergyUseWN(kBtu),SteamUse(kBtu),Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,Seattle,WA,1927,Hotel,Hotel,...,189.000000,7.226362e+06,7.456910e+06,2003882.00,1.156514e+06,3.946027e+06,12764.529300,1.276453e+06,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,Seattle,WA,1996,"Hotel, Parking, Restaurant",Hotel,...,179.399994,8.387933e+06,8.664479e+06,0.00,9.504252e+05,3.242851e+06,51450.816410,5.145082e+06,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,Seattle,WA,1969,Hotel,Hotel,...,244.100006,7.258702e+07,7.393711e+07,21566554.00,1.451544e+07,4.952666e+07,14938.000000,1.493800e+06,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,Seattle,WA,1926,Hotel,Hotel,...,224.000000,6.794584e+06,6.946800e+06,2214446.25,8.115253e+05,2.768924e+06,18112.130860,1.811213e+06,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),Seattle,WA,1980,"Hotel, Parking, Swimming Pool",Hotel,...,215.600006,1.417261e+07,1.465650e+07,0.00,1.573449e+06,5.368607e+06,88039.984380,8.803998e+06,505.01,2.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,50222,2016,Nonresidential COS,Office,Horticulture building,Seattle,WA,1990,Office,Office,...,176.100006,8.497457e+05,9.430032e+05,0.00,1.536550e+05,5.242709e+05,3254.750244,3.254750e+05,20.94,1.70
3372,50223,2016,Nonresidential COS,Other,International district/Chinatown CC,Seattle,WA,2004,Other - Recreation,Other - Recreation,...,118.900002,9.502762e+05,1.053706e+06,0.00,1.162210e+05,3.965461e+05,5537.299805,5.537300e+05,32.17,2.01
3373,50224,2016,Nonresidential COS,Other,Queen Anne Pool,Seattle,WA,1974,"Fitness Center/Health Club/Gym, Other - Recrea...",Other - Recreation,...,767.799988,5.765898e+06,6.053764e+06,0.00,5.252517e+05,1.792159e+06,39737.390630,3.973739e+06,223.54,16.99
3374,50225,2016,Nonresidential COS,Mixed Use Property,South Park Community Center,Seattle,WA,1989,"Fitness Center/Health Club/Gym, Food Service, ...",Other - Recreation,...,110.800003,7.194712e+05,7.828413e+05,0.00,1.022480e+05,3.488702e+05,3706.010010,3.706010e+05,22.11,1.57
3375,50226,2016,Nonresidential COS,Mixed Use Property,Van Asselt Community Center,Seattle,WA,1938,"Fitness Center/Health Club/Gym, Food Service, ...",Other - Recreation,...,123.900002,1.152896e+06,1.293722e+06,0.00,1.267744e+05,4.325542e+05,7203.419922,7.203420e+05,41.27,2.26

In [14]:
data['PrimaryPropertyType'].value_counts()

Low-Rise Multifamily           987
Mid-Rise Multifamily           564
Small- and Mid-Sized Office    293
Other                          256
Warehouse                      187
Large Office                   173
K-12 School                    139
Mixed Use Property             133
High-Rise Multifamily          105
Retail Store                    91
Hotel                           77
Worship Facility                71
Distribution Center             53
Senior Care Community           45
Supermarket / Grocery Store     40
Medical Office                  39
Self-Storage Facility           28
University                      25
Residence Hall                  23
Refrigerated Warehouse          12
Restaurant                      12
Hospital                        10
Laboratory                      10
Office                           3
Name: PrimaryPropertyType, dtype: int64

In [15]:
#quelles sont les valeurs correspondant Ã  des logements dÃ©diÃ©s Ã  l'habitation?

In [16]:
data.isna().sum()

OSEBuildingID                  0
DataYear                       0
BuildingType                   0
PrimaryPropertyType            0
PropertyName                   0
City                           0
State                          0
YearBuilt                      0
ListOfAllPropertyUseTypes      9
LargestPropertyUseType        20
ENERGYSTARScore              843
SiteEUI(kBtu/sf)               7
SiteEUIWN(kBtu/sf)             6
SourceEUI(kBtu/sf)             9
SourceEUIWN(kBtu/sf)           9
SiteEnergyUse(kBtu)            5
SiteEnergyUseWN(kBtu)          6
SteamUse(kBtu)                 9
Electricity(kWh)               9
Electricity(kBtu)              9
NaturalGas(therms)             9
NaturalGas(kBtu)               9
TotalGHGEmissions              9
GHGEmissionsIntensity          9
dtype: int64